/* *{
    color:rgb(12, 11, 3);
} */
/* h1{
    color:rgb(250, 9, 9);
} */
#101{
color: #33ff00;
}

#103{
    color: #1aff00;
    }

#102{
        color: #fd4a08;
        }
        
button
{
color:rgb(210, 30, 30);
background-color: rgb(22, 11, 229);
}
html{
     background-color:#08070708;
 }      /* :rgb(0,255,255); */